//Поключение шрифта

@mixin font ($plumb, $Plumb_medium, $weight, $style){
	@font-face {
		font-family: $plumb;
		font-display: swap;
		src: url("../fonts/#{$Plumb_medium}.woff") format("woff"), url("../fonts/#{$Plumb_medium}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@mixin font ($Circe, $Circe-Regular, $weight, $style){
	@font-face {
		font-family: $Circe;
		font-display: swap;
		src: url("../fonts/#{$Circe-Regular}.woff") format("woff"), url("../fonts/#{$Circe-Regular}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// @mixin font ($font_name, $file_name, $weight, $style){
// 	@font-face {
// 		font-family: $font_name;
// 		font-display: swap;
// 		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
// 		font-weight: #{$weight};
// 		font-style: #{$style};
// 	}
// }
