
@import "header.scss";
@import "content.scss";
@import "mixin.scss";
@import "fonts.scss";
@import "footer.scss";
@import "news.scss";



   //---ПЕРЕМЕННЫЕ---//
     $minWidth: 320px;
	 $maxWigth: 1920;
	 $maxWidthContainer: 1180;
	 $md1: $maxWidthContainer + 12;
	 $md2: 991.98;
	 $md3: 767.98;
	 $md4: 479.98;
  

	 
		 
		.container{
			max-width: 1110px;
			margin: 0 auto;
		}
	 

  //---ШРИФТ ПО УМОЛЧАНИЮ---//
  $fontfamily: "plumb" ;


  //---ОБНУЛЕНИЕ---//
   @import "null.scss";

   @media (max-width: 1140px ){

	body.lock{
		overflow: hidden;
    }
}