.header {
  background: url(../img/bgc.jpg) no-repeat center;
  max-width: 100%;
  font-family: "plumb";
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-header__logo {
  background: url(../img/logo1.svg) no-repeat;
  width: 175px;
  height: 24px;
  position: relative;
  z-index: 10;
}

.top-header__bar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.logo {
  margin: 0px 10px;
}

.menu {
  position: relative;
  z-index: 3;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.menu__list li {
  margin: 0px 47px 0px 0px;
  display: block;
  white-space: nowrap;
}

.menu__list :last-child {
  margin-right: 0;
}

.menu__link {
  font-family: "Circe";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 16px;
  line-height: 135%;
}

.icon-menu {
  display: none;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 9;
}

.bar__search {
  background: url(../img/Search.png) no-repeat;
  width: 20px;
  height: 17px;
  margin: 0px 50px 0px 0px;
}

.bar__language {
  background: url(../img/Globe.png) no-repeat;
  width: 100px;
  height: 18px;
  padding: 0px 10px 0px 27px;
  color: white;
  font-family: "Circe";
  font-size: 16px;
  line-height: 150%;
}

.line {
  background-color: white;
  width: 100%;
  height: 2px;
}

.bottom-header {
  position: relative;
  z-index: 2;
}

.bottom-header__title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0px 0px 70px 20px;
}

.bottom-header__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 709px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.bottom-header__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.bottom-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 53px;
  padding: 0px 0px 0px 10px;
}

.title__logo {
  font-family: "plumb";
  font-weight: Regular;
  font-size: 64px;
  color: white;
  height: 74px;
  margin: 20px 0px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.title__text {
  font-family: "plumb";
  font-weight: 400;
  font-size: 24px;
  color: white;
  line-height: 140%;
}

.title__nav {
  font-family: Circe;
  font-size: 16px;
  line-height: 80px;
  color: white;
  background: url(../img/Arrow.png) no-repeat right;
  padding: 0px 25px 2px 0px;
}

.wrapper {
  padding: 0px 30px 0px 0px;
}

.item__block1 {
  width: 255px;
  height: 148px;
  background: #2378FC;
}

.item__block2 {
  width: 255px;
  height: 175px;
  background: #30BCC9;
  margin: 30px 0px 0px 0px;
}

.item__block3 {
  width: 255px;
  height: 148px;
  background: #FFC41E;
  margin: 0px 0px 0px 30px;
}

.item__block4 {
  width: 255px;
  height: 175px;
  background: #F6404F;
  margin: 30px 0px 0px 30px;
}

.item__block {
  position: relative;
}

.item__block span {
  display: block;
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 21px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.item__list {
  position: absolute;
  bottom: 30px;
  left: 20px;
  background: url(../img/Arrow.png) no-repeat right;
  padding: 0px 22px 0px 20px;
  font-family: "Circe";
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
}

.top-content {
  background-color: #2378FC;
}

.top-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 426px;
  padding: 0px 0px 0px 10px;
}

.top-content__column {
  padding: 75px 0px 0px 5px;
}

.top-content__heading {
  font-family: "plumb";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-size: calc(10px + 15 * (100vw / 1920));
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-size: calc(7px + 8 * (100vw / 1920));
  line-height: 135%;
  color: #FFFFFF;
  margin: 15px 0px 0px 0px;
}

.list__link:hover {
  color: #FFC41E;
}

.content__bottom {
  height: 984px;
}

.bottom-content {
  background-color: #FFC41E;
  height: 100%;
}

.bottom-content__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 169px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-content__name {
  font-family: "plumb";
  font-style: normal;
  font-weight: 500;
  color: #2E373B;
  font-size: calc(15px + 25 * (100vw / 1920));
}

.bottom-content__link {
  background: url(../img/Arrow-black.svg) no-repeat right;
  padding: 0px 29px 0px 0px;
  font-family: Plumb;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2E373B;
}

.bottom-content__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-content__card {
  width: 350px;
}

.card {
  padding: 0px 0px 0px 0px;
  height: 388px;
  max-width: 350px;
}

.card__data {
  font-family: "Circe";
  font-size: 14px;
  margin-top: 20px;
  color: #2E373B;
}

.card__logo {
  margin-top: 10px;
}

.card__href {
  font-family: "plumb";
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -0.01em;
  color: #F6404F;
}

.card__this {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  color: #2E373B;
}

.card__img1 {
  display: block;
  background: url(../img/card1.png) center/cover no-repeat;
  width: 100%;
  height: 240px;
}

.card__img2 {
  display: block;
  background: url(../img/card4.png) center/cover no-repeat;
  max-width: 100%;
  height: 240px;
}

.card__img3 {
  display: block;
  background: url(../img/card2.png) center/cover no-repeat;
  max-width: 100%;
  height: 240px;
}

.card__img4 {
  display: block;
  background: url(../img/card5.png) center/cover no-repeat;
  max-width: 100%;
  height: 240px;
}

.card__img5 {
  display: block;
  background: url(../img/card3.png) center/cover no-repeat;
  max-width: 100%;
  height: 240px;
}

.card__img6 {
  display: block;
  background: url(../img/card6.png) center/cover no-repeat;
  max-width: 100%;
  height: 240px;
}

@font-face {
  font-family: "plumb";
  font-display: swap;
  src: url("../fonts/Plumb_medium.woff") format("woff"), url("../fonts/Plumb_medium.woff2") format("woff2");
  font-weight: 400 700;
  font-style: bolt Regular normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: Regular normal;
}

.footer {
  background-color: #30BCC9;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 60px;
}

.link-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}

.link-info__link {
  margin: 0px 30px 0px 0px;
}

.info__logo {
  font-family: "plumb";
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 0px 0px 20px 0px;
}

.info__text {
  max-width: 255px;
  margin-bottom: 40px;
}

.info__text p {
  font-family: "Circe";
  font-size: 14px;
  line-height: 135%;
  color: #E0E0E0;
}

.info__text li {
  margin-bottom: 10px;
}

.info__list {
  font-family: "Circe";
  font-size: 14px;
  color: #E0E0E0;
}

.info__list:hover {
  color: #868646;
}

.info__href1 {
  margin: 0 auto;
}

.info__git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__href2 {
  padding: 15px 0px 0px 0px;
}

.info__mail form {
  position: relative;
  width: 255px;
  margin: 0 auto;
}

.info__mail input {
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  padding-left: 20px;
}

.info__mail button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.info__mail svg {
  position: relative;
  top: 4px;
}

.news {
  background-color: #FAF3E3;
  padding-bottom: 85px;
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 75px 0px 0px 0px;
}

.news__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.news__img1 {
  background: url(../img/news1.png) no-repeat;
  width: calc(280px + 135 * (100vw / 1200));
  height: 215px;
  margin-bottom: 59px;
}

.news__img2 {
  background: url(../img/news2.png) no-repeat;
  width: calc(280px + 135 * (100vw / 1200));
  height: 215px;
}

.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 530px;
  padding: 0px 0px 0px 10px;
}

.news__logo {
  font-family: "plumb";
  font-weight: 500;
  font-size: 30px;
  margin: 0px 0px 10px 0px;
  letter-spacing: -0.01em;
  color: #2E373B;
}

.news__href {
  position: absolute;
  right: 0;
  top: 7px;
  font-family: "plumb";
  font-size: 21px;
  letter-spacing: -0.01em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2E373B;
  background: url(../img/Arrow-black.svg) no-repeat right;
  padding: 0px 40px 3px 0px;
}

.bottom-news__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-news__body {
  margin: auto;
}

.bottom-news__data {
  font-family: "Circe";
  font-size: 16px;
  color: #F6404F;
  margin: 0px 0px 14px 30px;
}

.bottom-news__text {
  font-family: "plumb";
  font-weight: 500;
  font-size: calc(10px + 11 * (100vw / 1200));
  color: #2E373B;
  margin-left: 30px;
}

.bottom-news__img {
  background: url(../img/news3.png) left;
  min-width: 160px;
  height: 120px;
  margin: 30px 0px 0px 10px;
}

.bottom-news__img1 {
  background: url(../img/news4.png) left;
  min-width: 160px;
  height: 120px;
  margin: 30px 0px 0px 10px;
}

.bottom-news__img2 {
  background: url(../img/news5.png) left;
  min-width: 160px;
  height: 120px;
  margin: 30px 0px 0px 10px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@media (min-width: 1090px) {
  .adapt {
    display: none;
  }
}

@media (max-width: 1140px) {
  .bottom-header__title {
    padding: 0px 0px 0px 0px;
  }

  .bottom-header__contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottom-header__column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bottom-header__wrapper {
    position: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0px 0px 0px;
  }

  .body.lock {
    overflow: hidden;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
  }

  .icon-menu span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.5s ease 0;
    -o-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .icon-menu.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .icon-menu.active span {
    display: none;
  }

  .body-menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 500px;
    background-color: yellowgreen;
    z-index: 9;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 300px;
  }

  .body-menu.active {
    top: 0;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list {
    padding: 100px 0px 0px 0px;
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 30px 0px;
  }

  .menu__link {
    font-size: 30px;
  }

  body.lock {
    overflow: hidden;
  }
}

@media (max-width: 1090px) {
  .bottom-content__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .column-content {
    display: none;
  }

  .adapt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding-top: 10px;
  }

  .footer__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
  }

  .info__logo {
    font-size: 18px;
    margin: 0px 0px 15px 0px;
  }

  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 0px 10px;
  }

  .info__mail {
    display: none;
  }

  .news__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 750px) {
  .info__text {
    margin-bottom: 10px;
  }
}

@media (max-width: 718px) {
  .bottom-content__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .bottom-content__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .adapt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .list {
    margin-top: 5px;
  }

  .list__link {
    margin: 5px 0px 0px 0px;
    line-height: 100%;
  }

  .top-content__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 250px;
  }

  .card {
    width: 320px;
  }

  .card__img1,
  .card__img2,
  .card__img3,
  .card__img4,
  .card__img5,
  .card__img6 {
    width: 320px;
    margin: 0 auto;
  }

  .card__href,
  .card__data,
  .card__this {
    padding: 0px 0px 0px 10px;
  }
}

@media (max-width: 550px) {
  .bar__search {
    margin: 0px 20px 0px 0px;
  }
}

@media (max-width: 548px) {
  .bottom-header__wrapper {
    display: inline-block;
    margin: 0 auto;
  }

  .wrapper {
    padding: 0;
    margin: 0;
  }

  .item__block1 {
    width: 200px;
    height: 120px;
    background: #2378FC;
    padding: 0;
  }

  .item__block2 {
    width: 200px;
    height: 120px;
    background: #30BCC9;
    margin: 10px 0px 0px 0px;
  }

  .item__block3 {
    width: 200px;
    height: 120px;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
  }

  .item__block4 {
    width: 200px;
    height: 120px;
    margin: 10px 0px 0px 0px;
  }

  .item__block {
    position: relative;
  }

  .item__block span {
    display: block;
    position: absolute;
    top: 7px;
    left: 25px;
    font-size: 21px;
    font-family: Plumb;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }

  .item__list {
    position: absolute;
    bottom: 8px;
    left: 5px;
    background: url(../img/Arrow.png) no-repeat right;
    padding: 0px 22px 0px 20px;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
  }

  .title {
    height: 200px;
  }

  .title__logo {
    padding: 40px 0px 20px 0px;
    font-size: 34px;
    margin: 0 auto;
    height: 20px;
  }

  .title__text {
    display: none;
  }

  .bar__language {
    display: none;
  }

  .body-menu {
    right: -100%;
    top: 0;
    width: 200px;
    height: 390px;
  }

  .body-menu.active {
    right: 0;
  }

  .menu__link {
    line-height: 90%;
  }
}

@media (max-width: 530px) {
  .info__mail form {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .link-info__link {
    margin: 0px 7px 0px 0px;
  }

  .link-info__link svg {
    width: 30;
    height: 20px;
  }
}

@media (max-width: 450px) {
  .info__list {
    font-size: 12px;
  }

  .info__href1 svg {
    width: 120px;
    height: 30px;
  }

  .info__href2 svg {
    width: 120px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .info__text li {
    margin-bottom: 4px;
  }
}

@media (max-width: 350px) {
  .bottom-news__text {
    margin-left: 15px;
  }
}

.webp .header { background: url(../img/bgc.webp) no-repeat center; }

.webp .bar__search { background: url(../img/Search.webp) no-repeat; }

.webp .bar__language { background: url(../img/Globe.webp) no-repeat; }

.webp .title__nav { background: url(../img/Arrow.webp) no-repeat right; }

.webp .item__list { background: url(../img/Arrow.webp) no-repeat right; }

.webp .card__img1 { background: url(../img/card1.webp) center/cover no-repeat; }

.webp .card__img2 { background: url(../img/card4.webp) center/cover no-repeat; }

.webp .card__img3 { background: url(../img/card2.webp) center/cover no-repeat; }

.webp .card__img4 { background: url(../img/card5.webp) center/cover no-repeat; }

.webp .card__img5 { background: url(../img/card3.webp) center/cover no-repeat; }

.webp .card__img6 { background: url(../img/card6.webp) center/cover no-repeat; }

.webp .news__img1 { background: url(../img/news1.webp) no-repeat; }

.webp .news__img2 { background: url(../img/news2.webp) no-repeat; }

.webp .bottom-news__img { background: url(../img/news3.webp) left; }

.webp .bottom-news__img1 { background: url(../img/news4.webp) left; }

.webp .bottom-news__img2 { background: url(../img/news5.webp) left; }

@media (max-width: 548px) {

  .webp .item__list { background: url(../img/Arrow.webp) no-repeat right; }
}